
{% extends 'home.html' %}
{% block body %}
<h1>Add a new lifter:</h1>
<p>
    <div class='form'>
        {{ message}}
        <br>
        <br>
        <form method='POST' action=''>
            <!-- hidden_tag() is required for form validation -->
            {{ form.hidden_tag() }}
            <!-- Each field displays its label followed by the input field itself -->
            {{ form.first_name.label }} {{ form.first_name }}
            <br>
            {{ form.last_name.label }} {{ form.last_name }}
            <br>
            {{ form.username.label }} {{form.username}}
            <br>
            <!-- form.submit is a button -->
            {{ form.submit }}
            <br>
              
        </form>
    </div>
</p>

{% endblock body %}