<html>
    <head>
        <title>One rep max Calculator</title>
        <meta author>Harry Hetherington<meta>
    </head>
    <body style="background-color:aqua; font-family:'Times New Roman', Times, serif;">
        <h1>This is a one rep max weight calculator and activity logger</h1>
        <p>Here you can put in your exercise reps and weight and that will be logged as well as calculating your one rep max for that exercise</p>
        <p>To add a lift, go to /add-lift <br>
        To add a new user, go to /add-lifter <br>
        To view all lifts, go to /view-lifts <br>
        To view all users, go to /view-lifters <br>
        To update a lift, go to /update-lift/lift_id <br>
        To update a users, information go to /update-lifter/lifter_id <br>
        To delete a lift, go to /delete-lift/lift_id <br>
        To delete a lifter, go to /delete-lifter/lifter_id <br>        
        </p>
        {% block body %}
        {% endblock body %}
    </body>

</html>